{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
        <div class="row p-2">
            <div class="col-md-7"></div>
            <div class="col-md-5 border bg-secondary bg-opacity-50 bg-gradient rounded p-2">
                <h2 class="text-center fst-italic text-white">S'enregistrer</h2>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill">
                        {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>

                    <div class="p-2 flex-fill">
                        {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>

                    <div class="p-2 flex-fill">
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>

                    <div class="p-2 flex-fill">
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>

                    <div class="p-2 flex-fill">
                        {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control form-control-sm'}}) }}
                    </div>

                    <div class="form-group">
                        <div class="row m-auto">
                            <div class="col me-4">
                                {{ form_row(registrationForm.plainPassword.first, {
                                    label: 'Password',
                                    'attr': {'class': 'form-control form-control-sm'}
                                }) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.plainPassword.second, {
                                    label: 'Confirm Password',
                                    'attr': {'class': 'form-control form-control-sm'}
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="p-2 flex-fill">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>

                    <div class="p-2 flex-fill">
                        <button type="submit" class="btn btn-sm btn-primary btn-block">Register</button>
                    </div>
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
